</main>
<footer>
    <div class="social-media">
        <ul>
            <li>
                <p><a class="anchor" href="/">LinkedIn</a></p>
            </li>
            <li>
                <p><a class="anchor" href="/">Instagram</a></p>
            </li>
            <li>
                <p><a class="anchor" href="/">Twitter</a></p>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright © Mustafa Pekşen
            <script>var years = new Date().getFullYear(); document.write(years)</script>
        </p>
    </div>

</footer>
</body>

</html>