<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=BioRhyme+Expanded&family=Cormorant&family=Quicksand&display=swap"
        rel="stylesheet">
    <title>Seyyahlar's Recipe Book</title>
</head>

<body>
    <main>
        <div class="header">
            <h1>Seyyahlar's Recipe Book</h1>
            <div class="page-navbar">
                <nav>
                    <ul>
                        <li><a class="anchor" href="/">Main Menu</a></li>
                        <li><a class="anchor" href="/about">About Me</a></li>
                        <li><a class="anchor" href="/contact">Contact</a></li>
                    </ul>

                    <form action="/search" method="post">
                        <input type="text" id="query" name="query" placeholder="Search for meal">
                    </form>
                </nav>
            </div>
        </div>